<html>
	<head>
		<title>Cuoral</title>
		<link href='/css/application.css' type='text/css' rel='stylesheet' />
		<link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css'/>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type='text/javascript' src="/js/application.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
	<div id="header">

			<!-- BEGIN .row -->
			<div class="row">

				<!-- BEGIN #header-bar -->
				<div id="header-bar">

					<!-- BEGIN #logo -->
					<div id="logo">

					
						<h1 id="logo">
							<a href="http://organicthemes.com/demo/collective/">
								<img src="http://organicthemes.com/demo/collective/wp-content/themes/organic-collective/images/logo.png" alt="" />
								<span class="logo-text">Cuoral</span>
							</a>
						</h1>

						
						<div id="masthead">
							<h1 class="site-title"><span><a href="http://organicthemes.com/demo/collective/" rel="home">Cuoral</a></span></h1>
						</div>

						
					
					<!-- END #logo -->
					</div>

					<span class="menu-toggle"><i class="fa fa-bars"></i></span>

				<!-- END #header-bar -->
				</div>

				<!-- BEGIN #navigation -->
				<nav id="navigation" class="navigation-main" role="navigation">

					<div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-356" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-356"><a href="/">Home</a></li>
<li id="menu-item-367" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-367"><a href="http://organicthemes.com/demo/collective/about/">About</a>
<ul class="sub-menu">
	<li id="menu-item-362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-362"><a href="http://organicthemes.com/demo/collective/company-profile/">Company Profile</a></li>
	<li id="menu-item-363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363"><a href="http://organicthemes.com/demo/collective/history/">History</a></li>
</ul>
</li>

<li id="menu-item-364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364"><a href="http://organicthemes.com/demo/collective/contact/">Contact Us</a></li>
</ul></div> 
				<!-- END #navigation -->
				</nav>

			<!-- END .row -->
			</div>

		<!-- END #header -->
		</div>

<h1 class="headline page-headline text-center">Next Academy Cuoral</h1>










		<%= yield %>
	</body>


</html>
<footer>
	<!-- BEGIN .footer -->
<div class="footer">

	
	<!-- BEGIN .row -->
	<div class="row">

		<!-- BEGIN .content -->
		<div class="content">

		<!-- BEGIN .footer-widgets -->
		<div class="footer-widgets">

			<div id="text-2" class="widget widget_text"><div class="footer-widget"><h6>The Next Academy Cuoral Experience</h6>			<div class="textwidget">This website was completed over the course of 1 week with the help of the amazing mentors from Next Academy. In this exercise, we learnt how to use RESTFUL routes efficiently and define the relationship between tables. Special thanks to all the friends and mentors who helped us debug and run through code time and time again without fail throughout the entire week. It was truly an amazing experience. </div>
		</div></div>
		<!-- END .footer-widgets -->
		</div>

		</div>

	<!-- END .row -->
	</div>


	
	<!-- BEGIN .footer-information -->
	<div class="footer-information">

		<!-- BEGIN .footer-content -->
		<div class="footer-content">

			<div class="align-left">
				<p>Copyright &copy; 2016 &middot; All Rights Reserved &middot; Johnson Khoo Inc</p>
				<p><a href="http://www.johnsonkhoo.com/" target="_blank">Produced</a> by <a href="http://www.johnsonkhoo.com/" target="_blank">Johnson Khoo Inc</a> &middot; <a href="http://johnsonkhoo.com/" target="_blank" title="Amazing Hosting">Dragon Slayer Hosting</a> &middot; <a href="http://johnsonkhoo.com/">Special Thanks To</a> &middot; <a href="http://johnsonkhoo.com/"> Raz | Kevin | Next Academy </a></p>
			</div>

			<div class="align-right">


				
			</div>

		<!-- END .footer-content -->
		</div>

	<!-- END .footer-information -->
	</div>

<!-- END .footer -->
</div>
	</footer>